<!-- <p>login it works</p> -->

<div class="container">
    <div [hidden]="loggedIn">
        <mat-grid-list cols="6" [style.margin-top] = "'20px'">
            <mat-grid-tile [attr.colspan] = "1"></mat-grid-tile>
            <mat-grid-tile [attr.colspan] = "4">
                <form (ngSubmit) = "onSubmit()">
                    <mat-form-field class = "full-width">
                        <input type="text" matInput [(ngModel)]= "credential.username" 
                        name = "profile.username" id = 'username' placeholder="Username">
                    </mat-form-field>
                    <mat-form-field class = "full-width">
                        <input type="password" matInput [(ngModel)]="credential.password" 
                        name = "profile.password" id = 'password' placeholder="Password">
                    </mat-form-field>
                    <button mat-raised-button type="submit" class="mat-primary">Login</button>
                </form>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>